---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Léandre GUILLY" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Voici une présentation où vous en apprendrez plus sur mon cursus."
			>
				<img
					width="1000"
					height="333"
					src="/assets/cv.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>
						Dans le cadre de la nouvelle réforme du baccalauréat, j'ai choisi les spécialités suivante : Les mathématiques m'ont permis d'avoir une vue d'ensemble des différentes utilisations des mathématiques; notament dans d'autre matières comme les statistiques, les probabilités ou les équations différentielles. Les Sciences de l'Ingénieur (S.I) m'ont permis de gagner en autonomie sur des projets lycéens et de découvrir des connaissances proches du monde professionnel. Enfin, la physique/chimie nécessaire pour comprendre l'ensemble des phénomènes scientifiques qui nous entoure. 
						Mes deux premières années d'étude supérieur en Science et Génie des Matériaux ont laissé place à l'assimilation de nouvelles compétences. Les projets étudiant ou SAE autonomie (Situation d'Aprentissage et d'Evaluation) imposent rigueur, organisation, curiosité et exactitude.
					</p>
					<p>
						A l'âge de mes 17 ans, j'ai commencé à travailler dans la distribution, dans des supermarchés, ce qui m'a permis de découvrir le monde du travail et le service client. 
						Au terme de ma première année de Bachelor Universitaire Technologique, j'ai décroché un poste saisonnier en tant que technicien qualité, dans une entreprise de composites à matrice organique qui utilise des techniques d'industrialisation tels que le BMC (Bulk Moulding Compound) et SMC (Sheet Moulding Compound). 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cursus scolaire</h2>
				<div class="content">
					<p>Baccalauréat général spécialité science de l'ingénieur, mathématiques et physique/chimie.</p>
					<p>BUT Science et Génie des matériaux à Blois (41000), spécialité "Métier de la caractérisation et de l'expertise des matériaux et des produits"</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Qualités</h2>
				<div class="content">
					<p>Curieux</p>
					<p>Travailleur</p>
					<p>Sérieux</p>
					<p>Fiable</p>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
